<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <title>Catálogo de Filmes - CineLog</title>


</head>

<body>

<header>
    <h1>CINE<span>LOG</span></h1>
    <div class="buttons" id="botoes-autenticacao">
    </div>
</header>

<div class="sidebar">
        <h2>CINE<span>LOG</span></h2>
        <button class="btn-menu ativo" onclick="mudarAba('tela-filmes', this)">🎬 Filmes</button>
        <button class="btn-menu" onclick="mudarAba('tela-usuarios', this)">👤 Usuários</button>
        <button class="btn-menu" onclick="mudarAba('tela-diretores', this)">🎥 Diretores</button>
        <hr style="border-color: #1e2638; margin: 10px 0;">
        <button onclick="window.location.href='cadastro-filme.html'">➕ Novo Filme</button>
        <button onclick="window.location.href='cadastro-diretor.html'">➕ Novo Diretor</button>
    </div>

    <section class="hero">
    <h2>Explore novas histórias</h2>
    <p>Seu gerenciador pessoal de cinema. Descubra títulos, organize suas listas e monte o catálogo perfeito de forma simples e intuitiva.</p>
</section>

    <div class="conteudo">
        
        <div id="tela-filmes" class="secao ativa">
            <h3>Filmes Cadastrados</h3>
            <div id="lista-filmes" style="margin-top:20px;">Carregando...</div>
        </div>

        <div id="tela-usuarios" class="secao">
            <h3>Lista de Usuários</h3>
            <table>
                <thead>
                    <tr><th>ID</th><th>E-mail</th></tr>
                </thead>
                <tbody id="lista-usuarios"></tbody>
            </table>
        </div>

        <div id="tela-diretores" class="secao">
            <h3>Lista de Diretores</h3>
            <table>
                <thead>
                    <tr><th>ID</th><th>Nome</th></tr>
                </thead>
                <tbody id="lista-diretores"></tbody>
            </table>
        </div>

    </div>



<footer>
    <p>© 2026 - CineLog</p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const token = localStorage.getItem("token");
        const containerBotoes = document.getElementById("botoes-autenticacao");

        if (token) {
          
            containerBotoes.innerHTML = `
                <a href="#" onclick="logout()" style="background: #ef4444;">Sair</a>
            `;
            
        } if(!token) {
            window.location.href = "login.html" 
            containerBotoes.innerHTML = `
                <a href="/views/login.html">Login</a>
                <a href="/views/cadastro.html">Cadastro</a>
            `;
        }

    });


    function logout() {
        localStorage.removeItem("token");
        window.location.reload(); 
    }
    function mudarAba(idDaTela, botaoClicado) {

            document.querySelectorAll('.secao').forEach(tela => tela.classList.remove('ativa'));

            document.querySelectorAll('.btn-menu').forEach(btn => btn.classList.remove('ativo'));


            document.getElementById(idDaTela).classList.add('ativa');

            botaoClicado.classList.add('ativo');
        }

        document.addEventListener("DOMContentLoaded", () => {
            pegarFilmes();
            pegarUsuarios();
            pegarDiretores();
        });

        async function pegarFilmes() {
            const res = await fetch("http://localhost:3000/filmes");
            const dados = await res.json();
  
            document.getElementById("lista-filmes").innerHTML = dados.filmes.map(f => `
                <p>• <b>${f.nome}</b> - ${f.duracao} min</p>
            `).join('');
        }

        async function pegarUsuarios() {
            const res = await fetch("http://localhost:3000/usuarios");
            const dados = await res.json();
            document.getElementById("lista-usuarios").innerHTML = dados.usuarios.map(u => `
                <tr><td>#${u.id}</td><td>${u.email}</td></tr>
            `).join('');
        }

        async function pegarDiretores() {
            const res = await fetch("http://localhost:3000/diretores");
            const dados = await res.json();
            document.getElementById("lista-diretores").innerHTML = dados.diretores.map(d => `
                <tr><td>#${d.id}</td><td>${d.nome}</td></tr>
            `).join('');
        }
</script>

</body>
</html>