<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/login.css">
    <title>Login - Catálogo</title>


</head>

<body>

    <div class="container">
        <div class="logo-area">
            <h1>CINE<span>LOG</span></h1>
        </div>

        <div>
            <h4> Seu catálogo de filmes e séries </h4>
        </div>

        <div class="input-group">
            <input type="email" id="email" placeholder="Digite seu email" autocomplete="email">
        </div>

        <div class="input-group">
            <input type="password" id="senha" placeholder="Digite sua senha">
        </div>

        <button onclick="fazerLogin()">
            Entrar
        </button>

        <div>
            <h4><a class="cadastro" href="cadastro.html">Não tem uma conta? Cadastre-se agora!</a></h4>
        </div>

        <p id="mensagem"></p>
    </div>

    <script>
        async function fazerLogin() {

            const email =
                document.getElementById("email").value;

            const senha =
                document.getElementById("senha").value;

            const mensagem =
                document.getElementById("mensagem");


            mensagem.className = "";

            try {

                const resposta = await fetch(
                    "http://localhost:3000/usuarios/login",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            email,
                            senha
                        })
                    }
                );

                const dados = await resposta.json();

                if (resposta.ok) {

                    mensagem.classList.add("msg-sucesso");
                    mensagem.innerText =
                        "Login realizado com sucesso! Redirecionando...";

                    localStorage.setItem("token", dados.token)

                    console.log(dados);
                    setTimeout(() => {
                        window.location.href = "index.html";
                    }, 600);


                } else {

                    mensagem.classList.add("msg-erro");
                    mensagem.innerText =
                        dados.erro || "Erro ao fazer login";
                }

            } catch (erro) {

                mensagem.classList.add("msg-erro");
                mensagem.innerText =
                    "Erro ao conectar com o servidor";

                console.error(erro);
            }
        }
    </script>

</body>

</html>