<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="registerForm">

  <input
    type="text"
    id="username"
    placeholder="Nome de usuário"
    required
  >

  <input
    type="email"
    id="email"
    placeholder="Email"
    required
  >

  <input
    type="password"
    id="password"
    placeholder="Senha"
    required
  >

  <input
    type="password"
    id="confirmPassword"
    placeholder="Confirmar senha"
    required
  >

  <input
    type="number"
    id="age"
    placeholder="Idade"
    required
  >

  <select id="favoriteGenre" required>
    <option value="">Escolha um gênero</option>
    <option>Ação</option>
    <option>Drama</option>
    <option>Comédia</option>
    <option>Terror</option>
    <option>Ficção Científica</option>
  </select>

  <label>
    <input type="checkbox" id="terms">
    Aceito os termos de uso
  </label>

  <button type="submit">
    Cadastrar
  </button>

</form>

<div id="error"></div>
</body>
</html>